:root {
    --link-doc-color: rgb(184, 60, 130);
    --link-doc-color-values: 184, 60, 130;

    --real-accent-color: #cccccc;
    --body-text-color: #7C7C7C;
    --card-text-color-tertiary: #666666;
    --body-background: #eaeaea;
    
    --backquote-border-color: #9b61ff;
    
    --blockquote-background-color: rgb(238, 238, 238);
    //--card-text-color-main
    // google text color 212121
    &[data-scheme="dark"] {
        --backquote-border-color: #7d5bed;
        --real-accent-color: #686868;
        // --accent-color: #ecf0f1;
        // --accent-color-darker: #f9fafa;
    }
}

.article-content blockquote {
    border-color: var(--backquote-border-color);
}

.article-page .main-article .article-content {
    //color: #212121;
}

// documentation links
code > a {
    color: var(--link-doc-color);

    &:hover {
        color: var(--accent-color-darker);
    }

    &.link {
        box-shadow: 0px -1px 0px rgba(var(--link-doc-color-values), var(--link-background-opacity)) inset;
        transition: all 0.3s ease;

        &:hover {
            box-shadow: 0px calc(-1rem * var(--article-line-height)) 0px rgba(var(--link-doc-color-values), var(--link-background-opacity-hover)) inset;
        }
    }
}

.widget--toc {
    #TableOfContents {
        ul > li::marker {
            content: "";
        }
        li.active-class > a {
            border-left: var(--heading-border-size) solid var(--real-accent-color);
        }
    }
}

.article-content {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        border-width: 0px;
    }
    h2 {
        border-inline-start: var(--heading-border-size) solid var(--real-accent-color);
    }

}